@import './mediaqueries.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@import 'mediaqueries.css';
/*             CONFIGS INICIAIS           */

:root {
  --bg-color: #FFFFFF;
  --bg-card-color: #F5F5F5;

  --primary-color: #bf9780;
  --second-color: #d8af97;
  --third-color: #ecd6c0;
  --text-color: #000000;

  --text-color-description: #504F51;

}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 142.5rem;
  margin: 0 auto;
  padding: 0 4.5rem;
}

body {
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
  overflow: overlay;
}

.flor img {
  width: 300px;
  height: 300px;
  opacity: 0.5;
  position: relative;
  top: 1;
  left: 0;
}

/*               HEADER NAV          */

header nav {
  height: 8rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s;
}

header nav img {
  width: 55px;
  height: 55px;
  transition: ease-in-out 0.3s;
}

.container .social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .social-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  transition: ease-in-out 0.3s;
}

.container .social-nav ul li {
  width: 40px;
  height: 40px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.container .social-nav ul li ion-icon {
  width: 27px;
  height: 27px;
  transition: ease-in-out 0.3s;
}

.container .social-nav ul li ion-icon:hover {
  color: var(--third-color);
}

container .social-nav ul li:hover {
  background-color: var(--third-color);
}

header nav .container svg:hover {
  stroke: var(--third-color);
}

header nav img:hover {
  background-color: var(--third-color);
}

nav .container:nth-child(1n) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  transition: ease-in-out 0.3s;
}

/*               HEADER MENU           */

.header-two {
  margin-top: 7rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 10px;
  transition: ease-in-out 0.3s;
}

.map svg {
  transition: ease-in-out 0.3s;
}

.map svg:hover {
  fill: var(--third-color);
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: -20px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.logo:hover {
  filter: brightness(1.5);
}

.menu {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 3px;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.menu ion-icon:hover {
  background-color: var(--third-color);
}


/*               MAIN INFO           */

main .content-main {
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-top: 10rem;
}

.info {
  max-width: 550px;
  margin-top: 20rem;
  margin-bottom: 5rem;
  width: 100%;
}

.text {
  font-size: 5rem;
  max-width: 500px;
  font-weight: 700;
  color: var(--primary-color);
}

.wpp button a {
  letter-spacing: 0.5px;
  background-color: #2DDE98;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 15%);
  padding: 20px 42px 20px 42px;
  font-size: 2rem;
  color: white;
  max-width: 300px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  display: flex;
  text-align: center;
  gap: 20px;
  width: 100%;
  padding-inline: 100px;
  transition: ease-in-out 0.3s;
}

.wpp svg {
  fill: white;
}

.wpp button a:hover {
  font-size: 2.2rem;
}

.procedimentos button a {
  letter-spacing: 0.5px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 15%);
  padding: 20px 42px 20px 42px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  display: flex;
  text-align: center;
  width: 100%;
  max-width: 300px;
  transition: ease-in-out 0.3s;
}

.procedimentos button a {
  color: #504F51;
}

.procedimentos button a:hover {
  color: white;
  background-color: var(--primary-color);
}

.procedimentos img svg path {
  fill: var(--third-color);
}

.mariana {
  max-width: 500px;
  max-height: 480px;
  transition: ease-in-out 0.3s;
}

.mariana img {
  transition: ease-in-out 0.3s;
}

.mariana img:hover {
  max-width: 110%;
  width: 102%;
  padding-bottom: 20px;
}

.hero {

  background: linear-gradient(-45deg, var(--primary-color), var(--third-color), var(--primary-color), var(--primary-color));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  opacity: 1;
  height: 20rem;
  margin-top: -0.2rem;
  text-align: center;
  align-items: center;
  box-shadow: 2px 4px 2px 1px rgba(136, 98, 98, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero h2 {
  font-size: 6rem;
  color: white;
  padding-top: 4.5rem;
  text-transform: uppercase;
  filter: brightness(1);
}

@import url('https://fonts.googleapis.com/css?family=Abel');

.hero p {
  font-size: 2.6rem;
  color: white;
  font-weight: 300;
  margin-top: 2rem;
  filter: brightness(1.2);
  letter-spacing: 2px;
  font-family: 'Dosis', sans-serif;
}

/* TECNICAS */

.tecs {
  height: 209rem;
  margin-top: 10rem;
}

.tecs .card-home .text {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecs .card-home.text:nth-child(even) {
  margin-right: 120px;
}

.tecs .card-home h2 {
  font-size: 3.6rem;
  color: var(--second-color);
  font-family: Abel, Arial, Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
  margin: 3rem auto;
  text-transform: uppercase;
}

.tecs .card-home p {
  font-family: Abel, Arial, Verdana, sans-serif;
  text-align: left;
  color: #504F51;
  margin: 1rem auto;
  font-weight: 300;
  font-size: 1.7rem;
}

.tecs .card-home {
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  padding: 5rem;
  justify-content: space-between;
  margin-bottom: 8rem;
  box-shadow: rgb(0 0 0 / 39%) 0px 0px 10px;

}

.tecs .card-home .text button a {
  text-decoration: none;
  font-size: 2.2rem;
  padding: 0 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.tecs .card-home img {
  border-radius: 30px;
  height: 400px;
  max-width: 400px;
  object-fit: cover;
}


/* BG MULHER */

.bg-mulher {
  background-image: linear-gradient(to left, transparent 15%, #d8af97 200%), url('../assets/mulher-realizando-procedimento-estetico.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  margin-top: 22rem;
  opacity: 0.8;
  background-position: right center;
  background-attachment: local;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-mulher h1 a {
  font-size: 4rem;
  text-transform: uppercase;
  background: white;
  color: var(--second-color);
  cursor: pointer;
  border-radius: 10px;
  padding: 3rem;
  transition: ease-in-out 0.3s;
  font-weight: 600;
  text-transform: uppercase;
}

.bg-mulher h1 a:hover {
  font-size: 4.1rem;
  color: white;
  background-color: var(--second-color);
  filter: brightness(1.1);
}

/* TRATAMENTO IDEAL */

.tratamento-ideal {
  margin-bottom: -9rem;
  margin-top: 3rem;
}

.tratamento-ideal .container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.tratamento-ideal img {
  max-width: 650px;
  max-height: 400px;
  margin-top: 100px;
  padding-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.tratamento-ideal img:hover {
  max-width: 106%;
  position: relative;
}

.tratamento-ideal .text {
  max-width: 650px;
  margin-top: 70px;
}

.tratamento-ideal .text h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 110px;
  text-transform: uppercase;
  color: var(--second-color);
}

.tratamento-ideal .text p {
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  color: #504F51;
}

.tratamento-ideal .text strong {}

.text button {
  background-color: var(--primary-color);
  color: white;
  font-size: 3rem;
  margin-top: 4rem;
  padding: 2rem;
  font-weight: 600;
  border-radius: 10px;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
}

.text button a {
  color: white;
}

.text button:hover {
  background-color: var(--third-color);
}

/* DEPOIMENTOS */
.depoimentos .cards {
  display: flex;
  gap: 40px;
}

.depoimentos .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  margin-inline: 15px;
  background-color: var(--third-color);
  border-radius: 10%;
}

.depoimentos .cards .card svg {
  opacity: 0.7;
}

.depoimentos h2 {
  font-size: 7rem;
  margin: 22rem 0 4rem;
  font-weight: 600;
  align-items: center;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  color: #504F51;
  text-shadow: 0px 11px 5px 0px rgb(0 0 0 / 15%);
}

.depoimentos p {
  font-size: 2rem;
  margin: 3rem 0 1rem;
  text-align: center;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  color: #504F51;
}

.depoimentos strong {
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: 600;
  color: white;
}

/* CARDS */

.cards {
  background-color: #f2f2f200;
  padding: 5rem 0 11rem;
}

.cards h2 {
  display: flex;
  text-transform: uppercase;
  font-size: 7rem;
  margin: 4rem 0 4rem;
  font-weight: 600;
  align-items: center;
  letter-spacing: 2px;
  justify-content: center;
  color: #504F51;
  text-shadow: 0px 11px 5px 0px rgb(0 0 0 / 15%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.cards .container-cards {
  width: 100%;
  max-width: 166.5rem;
  margin: 0 auto;
  padding: 0 3.5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 300px;
  height: 400px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 22rem 0 32rem 0;
  border-radius: 10%;
}

.swiper-slide .swiper-slide-active {
  width: 800px;
  height: 800px;
}

.swiper-button-next {
  color: #504F51;
}

.swiper-button-prev {
  color: #504F51;
}

.swiper-pagination-bullet {
  background-color: #504F51;
}

.swiper-slide .content {
  padding-inline: 50px;
  margin-inline: 0px;
  border-radius: 32px;
}

.swiper-slide .content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 22px;
}

/* HERO FOOTER */

.hero-footer {
  /* background-image: url('../assets/hero-footer-2.jpg'); */
  background-image: linear-gradient(to left, transparent 15%, #d8af97 200%), url('../assets/hero-footer-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  background-attachment: local;
  width: 100%;
  height: 65rem;
  /* margin-top: 14rem; */
  box-shadow: 0px 7px 5px 0px rgb(0 0 0 / 15%);
}

.content-hero-footer {
  padding-top: 15rem;
  max-width: 500px;
}

.content-hero-footer h2 {
  font-size: 7rem;
  color: white;
  font-weight: 600;
  filter: brightness(1.2);
}

.content-hero-footer h3 {
  font-size: 3rem;
  color: rgb(80, 79, 81);
  filter: brightness(1.1);
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 3rem;
}

.content-hero-footer .wpp {
  margin-top: 3rem;
}

/*  FOOTER */


footer {
  margin-top: 10rem;
  background-color: #f2f2f200;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding-block: 9rem;
  align-items: center;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo img {
  max-width: 150px;
  max-height: 150px;
  margin-left: 3rem;
}

.copy span {
  color: #504F51;
  font-family: 'Dosis', sans-serif;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  margin: 3rem auto;
}

footer ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}

li {
  margin-top: 2rem;
  font-weight: 600;
}

footer ul li .link {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #504F51;
  text-transform: uppercase;
}

footer ul li .link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

ion-icon {
  width: 25px;
  height: 25px;
  color: var(--primary-color);
  transition: ease-in-out .5s;
}

.socials ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.socials ion-icon {
  width: 40px;
  height: 40px;
  color: #504F51;
  transition: ease-in-out 0.3s;
}

ion-icon:hover {
  color: var(--primary-color);
}

/*                    TÉCNICAS ESTÉTICAS                     */

.tecnicas-mariana {
  width: 100%;
  height: 10rem;
  margin-top: 0.6rem;
  margin-bottom: 55rem;
}

.container .tecs-cards {
  display: flex;
  margin-top: 15rem;
}

.card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}



.tecs-cards .card {
  margin-top: 5rem;
  border-radius: 10px;
  display: flex;
  height: 425px;
  max-width: 320px;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0 0 0 / 39%) 0px 0px 10px;
  padding-bottom: 2rem;
}

.tecs-cards .card h3 {
  font-size: 2.4rem;
  text-align: center;
  color: rgb(80, 79, 81);
  font-weight: 600;
  margin-top: 1rem;
  text-transform: uppercase;
}

.tecs-cards .card p {
  font-size: 1.5rem;
  max-width: 300px;
  color: #504F51;
  margin-top: 1rem;
  text-align: center;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
}


.tecs-cards .card a {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.1rem;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  max-width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
  margin-bottom: 2rem;
}

.tecs-cards .card a:hover {
  background-color: var(--third-color);
}



.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
  display: none;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .content-main {
  margin-top: 30rem;
}

body.menu-expanded .menu {
  display: flex;
  background: var(--primary-color);
  width: 100%;
  position: absolute;
  left: 0;
  top: 62px;
  padding: 150px;
  align-items: center;
  justify-content: center;
  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;


  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  font-size: 2rem;
  margin-top: 4rem;
  font-weight: 300;
  font-family: Dosis, sans-serif;
  color: white;
}

.menu ul li a:hover {
  color: var(--third-color);
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.3);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

.open-menu ion-icon {
  background: var(--primary-color);
  padding: 4px;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.open-menu ion-icon:hover {
  stroke: var(--third-color);
  background: var(--second-color);
}

.header-two .close-menu ion-icon {
  background-color: white;
  padding: 3px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.header-two .close-menu ion-icon:hover {
  background-color: white;
  color: var(--third-color);
}

.header-two button {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}


/* TECNICAS TEMPLATES */

.template-tecs {
  padding-top: 111px;
  margin-top: 10rem;
  padding-bottom: 13rem;
  max-height: 105rem;
  background: linear-gradient(to top, transparent 65%, #d8af97 400%);
}

.tecnicas {
  display: flex;
  align-items: center;
  gap: 120px;
}

.tecnicas img {
  max-width: 600px;
  max-height: 600px;
}

.imagem-tecnica img {
  border-radius: 20px;
}

.tecnicas h1 {
  font-size: 3.6rem;
  color: var(--second-color);
  font-family: Abel, Arial, Verdana, sans-serif;
  font-weight: 600;
  margin: 3rem auto;
  text-transform: uppercase;
}

.tecnicas h2 {
  font-size: 2.6rem;
  color: #353535;
  font-family: Abel, Arial, Verdana, sans-serif;
  font-weight: 600;
  margin: 3rem auto;
  text-transform: uppercase;
}

.tecnicas p {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  color: #504F51;
}

.tecnicas ul li {
  list-style-type: disc;
  font-size: 1.8rem;
  margin-top: 4rem;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  color: #353535;
  margin-left: 20px;
  transition: ease-in-out 0.2s;
}

.tecnicas ul li:hover {
  color: #bf9780;
  cursor: pointer;
}

.buttonwpp {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 80px;
  margin-bottom: 220px;
}

.buttonwpp ion-icon {
  color: #2DDE98;
  width: 55px;
  height: 55px;
}

.buttonwpp a {
  background-color: rgba(116, 116, 116, 0.226);
  border-radius: 55%;
  width: 5px;
  height: 5px;
}

.buttonwpp ion-icon:hover {
  color: white;
  background-color: #2DDE98;
  border-radius: 90%;
  width: 60px;
  padding: 1rem;
  height: 60px;
}

body.menu-expanded .hero {
  margin-top: 9rem;
}